h2{
    font-family: 'Roboto Condensed', sans-serif;
}
.nombre{
    font-family: 'Dancing Script', cursive;
}
.fecha{
    font-family: 'Dancing Script', cursive;
}
.caja{
    font-family: 'Roboto Condensed', sans-serif;
}
form{
    background-color: #fff;
}
